# ignore any tensorboard log events.out. ... files - the models are saved in 47 MB sized .pytorch files
.idea
.pytest_cache
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tensorboard logs
#chpts/*/logs/  # should work imo
logs
!.git/logs

# PyTorch models
*.pytorch

# Python packages
pytorch3dunet.egg-info/
=======
# ignore any tensorboard log events.out. ... files - the models are saved in 47 MB sized .pytorch file
pytorch-3dunet/.git
pytorch-3dunet/.gitignore
pytorch-3dunet/.github
